# Auto-normalize text files
* text=auto
* text=auto eol=lf

# Blade templates and PHP files
*.blade.php diff=html
*.php diff=php

# Frontend assets
*.css diff=css
*.html diff=html
*.md diff=markdown

# Ignore these files/folders when exporting (e.g., git archive)
.github export-ignore
CHANGELOG.md export-ignore